{% extends "base.html" %} {% block title %}Admin Dashboard{% endblock  %}

{% block navbar %}
<!-- Navigation bar specific to the admin dashboard -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/admin/dashboard">Welcome! Admin</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" id="home" href="/admin/dashboard">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="search" href="/admin/search">Search</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="cursor: pointer;">
                  Status
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" id="customer_status" href="/customer/status">Customer Status</a>
                    <a class="dropdown-item" id="professional_status" href="/professional/status">Professional Status</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="summary" href="/admin/summary">Summary</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="logout" href="/logout">Logout</a>
            </li>
        </ul>
    </div>
</nav>
{% endblock  %}

{% block content %}
<br>
<h3>Services</h3>
<!-- Check if there are no services available -->
{% if service|length == 0 %}
            <div class="alert alert-dark" role="alert">
                Add your first service.
            </div> 
    {% else %}
    <!-- Display the list of services in a table -->
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Service Id</th>
            <th scope="col">Service Name</th>
            <th scope="col">Base Price</th>
            <th scope="col">Description</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
            <!-- Iterate through each service and display its details -->
            {% for s in service %}
                <tr>
                    <th scope="row">
                        <a href="/service/details/{{ s.id }}" style="text-decoration: none; color: inherit;">
                            {{ s.id }}
                        </a>
                    </th>
                    <td>{{ s.service }}</td>
                    <td>{{ s.price }}</td>
                    <td>{{ s.desc if s.desc else "Not available" }}</td>
                    <td>
                        <a href="/admin/update/{{s.id}}" class="btn btn-info btn-sm mx-1">Edit</a>
                        <a href="/admin/deleteService/{{s.id}}" class="btn btn-danger btn-sm mx-1">Remove</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}
</br>
<div>
    <button id="serviceAdd" class="btn btn-primary" onclick="location.href='/service-add'">+ Add new service</button>
</div>
<br>
<br>
<h3>Professionals Request</h3>

<!-- Filter for pending professionals -->
{% set pending_professionals = professionals | selectattr('status', 'equalto', 'pending') | list %}

<!-- Check if there are pending professionals -->
{% if pending_professionals | length > 0 %}
    <!-- Display the list of pending professionals in a table -->
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Professional Id</th>
            <th scope="col">Professional Name</th>
            <th scope="col">Experience(in years)</th>
            <th scope="col">Service</th>
            <th scope="col">PDF</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
            <!-- Iterate through each pending professional and display their details -->
            {% for prof in pending_professionals %}
                <tr>
                    <th scope="row">
                        <a href="/professional/details/{{ prof.id }}" style="text-decoration: none; color: inherit;">
                            {{ prof.id }}
                        </a>
                    </th>
                    <td>{{prof.full_name}}</td>
                    <td>{{prof.experience}}</td>
                    <td>{{prof.service}}</td>
                    <td>
                        {% if prof.pdf_file_path %}
                            <a href="{{ url_for('views.uploaded_file', filename=prof.pdf_file_path.split('/')[-1]) }}" target="_blank" class="btn btn-outline-secondary btn-sm">View PDF</a>
                        {% else %}
                            No PDF uploaded
                        {% endif %}
                    </td>    
                    <!-- Action buttons for approving, rejecting, or deleting a professional -->                            
                    {% if prof.status == "pending" %}
                        <td>
                            <a href="/admin/approve/{{prof.id}}" class="btn btn-success btn-sm mx-1">Approve</a>
                            <a href="/admin/reject/{{prof.id}}" class="btn btn-danger btn-sm mx-1">Reject</a>
                            <a href="/admin/delete/professional/{{prof.id}}" class="btn btn-warning btn-sm mx-1">Remove</a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <!-- Message indicating no pending requests -->
    <div class="alert alert-dark" role="alert">
        There is no request.
    </div> 
{% endif %}
<br>
<br>

<h3>Service Requests</h3>
<!-- Check if there are service requests -->
{% if requests %}
    <!-- Display the list of service requests in a table -->
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Request Id</th>
                <th scope="col">Service Name</th>
                <th scope="col">Professional</th>
                <th scope="col">Customer</th>
                <th scope="col">Requested Date</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        {% for request in requests %}
        <tbody>
            <tr>
                <th scope="row">
                    <a href="/request/details/{{ request.id }}" style="text-decoration: none; color: inherit;">
                        {{ request.id }}
                    </a>
                </th>
                <td>{{request.service.service}}</td>
                <td>{{request.professional.full_name}}</td>
                <td>{{request.customer.full_name}}</td>
                <td>{{request.date_of_request.strftime('%d-%m-%Y %H:%M')}}</td>
                
                <!-- Display the status of each service request -->
                {% if request.service_status == "pending" %}
                    <td>Requested</td>
                {% elif request.service_status == "accepted" %}
                    <td>Accepted</td>
                {% elif request.service_status == "rejected" %}
                    <td>Not Accepted</td>
                {% elif request.service_status == "closed" %}
                    <td>Closed</td>
                {% elif request.service_status == "cancelled" %}
                    <td>Cancelled</td>
                {% endif %}
            </tr>
        </tbody>
        {% endfor %}
    </table>
{% else %}
    <!-- Message indicating no service requests -->
    <div class="alert alert-dark" role="alert">
        There is no service request.
    </div> 
{% endif %}
<br>
{% endblock %}